
<%= simple_form_for [:admin,@department], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Department</legend>

    <%= f.input :name %>
    <%= f.input :work_start_at, input_html: {class: 'input-mini'} %>
    <%= f.input :minute_step, input_html: {class: 'input-mini'} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_departments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


