<h1>Departments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.id %></td>
        <td><%= link_to department.name, department_path(department) %></td>
        <td><%= department.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_department_path(department), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', admin_department_path(department), :method => :delete, :confirm => 'Are you sure?', :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_admin_department_path, :style => 'color: white', :class => 'btn btn-primary' %>