<h1><%= t "departments.title" %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Work Starts at</th>
      <th>Minute Step</th>
      <th>Part-Time Attendance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.id %></td>
        <td><%= link_to department.name, department_path(department) %></td>
		<td><%= department.work_start_at_to_strf %></td>        
		<td><%= department.minute_step %></td>        
		<td><%= department.attendance %></td>        
        <td>
          <%= link_to (t "orders.edit"), edit_admin_department_path(department), :class => 'btn btn-mini' %>
          <%= link_to (t "orders.destroy"), admin_department_path(department), :method => :delete, :confirm => 'Are you sure?', :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<b><%= t "departments.total" %> <%= Department.count %></b><br/><br/>

<%= link_to (t "orders.new"), new_admin_department_path, :style => 'color: white', :class => 'btn btn-primary' %>