
<h3><%= t "orders.search_title" %></h>

<%= search_form_for [:admin,@search] do |f| %>

      <%= f.date_select :date_cont,  :order => [:day,:month,:year]  %>

<div class="actions"><%= f.submit (t "orders.search_button"), :class => 'btn btn-primary' %></div>
    <% end %><br/>

<% if params[:q] %>
<h3><%= t "orders.search_results" %> for Date: <%= @search.date_cont %>  </h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link @search, :name, "Employee" %></th>
      <th>Menu(s)</th>
	  <th><%= sort_link @search, :user_department_name, "Department" %></th>
      <th><%= sort_link @search, :region_name, "Region" %></th>
      <th><%= sort_link @search, :date, "Date" %></th>
	  <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
		<td><%= order.user_name %></td>
        <td><% @line_items = LineItem.where('order_id' => order.id)	 
				@line_items.each do |item|  %>
				<%= item.menu_name %></br> 
				<% end %></td>
        <td><%= order.user.try(:department_name) %></td>
        <td><%= order.region_name %></td>
        <td><%= order.date %></td>
        <td><%= order.created_at %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


