<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Order</legend>


	<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %> 
    <p>Employee: <b><%= current_user.name %></b></p>
	<%= f.input :menu_id, :label => 'Menu', :as => :select, :collection => 		Menu.scoped.select { |m| m.state == "active" }.map{|m| ["#{m.name}", "#{m.category_name}", m.id]}, :include_blank => false  %>
	<%= f.input :region_id, :label => 'Region', :as => :select, :collection => 		Region.all.map{|r| ["#{r.name}", r.id]}, :include_blank => false %>
	<%= f.input :date %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', orders_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


