<h2><%= t "orders.history" %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Employee</th>
      <th>Menu</th>
      <th>Location</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date %></td>
		<td><%= order.user_name %></td>
        <td><% @line_items = LineItem.where('order_id' => order.id)	 
				@line_items.each do |item|  %>
				<%= item.menu_name %></br> 
				<% end %>
		</td>
        <td><%= order.region_name %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to (t "orders.edit"), edit_order_path(order), :class => 'btn btn-mini' %>
          <%= link_to (t "orders.destroy"), order_path(order), :method => :delete, :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>
<%= link_to (t "orders.new"), new_order_path, :style => 'color: white', :class => 'btn btn-primary' %>
	