<h2>Order</h2>

<p>
  <b>Employee:</b>
  <%= @order.user_name %>
</p>

<p>
  <b>Region:</b>
  <%= @order.region_name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', orders_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_order_path(@order), :class => 'btn' %>
  <%= link_to 'Delete', order_path(@order), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>