<h1><%= t "categories.title" %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= link_to category.name, admin_category_path(category) %></td>
        <td><%= category.created_at %></td>
        <td>
          <%= link_to (t "orders.edit"), edit_admin_category_path(category), :class => 'btn btn-mini' %>
          <%= link_to (t "orders.destroy"), admin_category_path(category), :method => :delete, :confirm => 'Are you sure?', :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<b><%= t "categories.total" %>	<%= Category.count %></b><br/><br/>

<%= link_to (t "orders.new"), new_admin_category_path, :style => 'color: white',  :class => 'btn btn-primary' %>