
<h3>Search by Date</h3>

<%= search_form_for [:kitchen,@search] do |f| %>

      <%= f.date_select :date_cont, :order => [:day,:month,:year]  %>

<div class="actions"><%= f.submit "Search", :class => 'btn btn-primary' %></div>
    <% end %><br/>

<% if params[:q] %>
<h3><%= t "orders.search_results" %> for Date: <%= @search.date_cont %>&nbsp;&nbsp;&nbsp;<%= link_to(image_tag("print.jpeg", :size => "80x80"), kitchen_orders_path({:q =>
	params[:q],:format => "pdf"}))  %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link @search, :name, "Employee" %></th>
      <th><%= sort_link @search, :menu_name, "Menu" %></th>
	  <th><%= sort_link @search, :user_department_name, "Department" %></th>
      <th><%= sort_link @search, :region_name, "Region" %></th>
      <th><%= sort_link @search, :date, "Date" %></th>
	  <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
		<td><%= order.user_name %></td>
        <td><%= order.menu_name %></td>
        <td><%= order.user.try(:department_name) %></td>
        <td><%= order.region_name %></td>
        <td><%= order.date %></td>
        <td><%= order.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_order_path(order), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', admin_order_path(order), :method => :delete, :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<b>Total Orders:	<%= @orders.count %></b><br/><br/>

<% end %></br><br/>

