<h1>Regions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.id %></td>
        <td><%= link_to region.name, admin_region_path(region) %></td>
        <td><%= region.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_region_path(region), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', admin_region_path(region), :method => :delete, :confirm => 'Are you sure?', :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<b>Total Regions:	<%= Region.count %></b><br/><br/>

<%= link_to 'New', new_admin_region_path, :style => 'color: white', :class => 'btn btn-primary' %>
