<% category = Category.find_by_id(params[:id]) %>
<h1><%= category.name %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t "orders.picture" %></th>
      <th><%= t "orders.name" %></th>
      <th><%= t "orders.price" %></th>

    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
		<td><%= image_tag(menu.photo.url, :size => "100x100") %></td>
        <td><%= menu.name %></td>
		<td><%= number_to_currency(menu.price, :unit => "£")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
