<%= simple_form_for [:admin,@user], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

    <%= f.input :name, :label => 'Full Name' %>
	<%= f.input :email %>
	<% if params[:action] == 'new' || params[:action] == 'create' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <% end -%>
	<%= f.input :department_id, :label => 'Department', :as => :select, :collection => 		Department.all.map{|d| ["#{d.name}", d.id]}, :include_blank => false  %>
	<%= f.input :kind, :input_html => { :id => "select" }, :collection => ['Full-Time Staff', 'Part-Time Staff', 'Kitchen', 'Admin'], :selected => params[0]  %>
	<div id ="extra" style="display:none;" >
	<%= f.input :ni_number %>	
	<%= f.input :wage %>
	</div>
		
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


