<h1><%= t "menus.title" %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t "menus.photo" %></th>
      <th>ID</th>
      <th><%= t "menus.name" %></th>
      <th><%= t "menus.price" %></th>
	  <th><%= t "menus.category" %></th>
	  <th><%= t "menus.created_at" %></th>
      <th><%= t "menus.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr id="menus_<%= menu.id %>" class="<%= 'grey' if menu.hidden? %>">
		<td><%= link_to image_tag(menu.photo.url, :size => "100x100"), admin_menu_path(menu)  %></td>
	    <td><%= menu.id %></td>
        <td><%= menu.name %></td>
		<td><%= number_to_currency(menu.price, :unit => "£") %></td>
		<td><%= menu.category_name %></td>
        <td><%= menu.created_at %></td>
        <td>
	<%= link_to t('helpers.links.toggle'), toggle_admin_menu_path(menu), method: :put, :style => 'color: white', class: 'btn btn-mini btn-success' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
 edit_admin_menu_path(menu), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_menu_path(menu), :method => :delete, :confirm => 'Are you sure?', :style => 'color: white', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
	<b>Total Menus:	<%= Menu.count %></b><br/><br/>
<%= link_to 'New', new_admin_menu_path, :style => 'color: white', :class => 'btn btn-primary' %>

